# ON MAIN
# BACKEND SESSION IN MINUTES
MAIN_VITE_SESS_EXPIRE=
MAIN_VITE_ENC_KEY=
MAIN_VITE_ENC_IV=
MAIN_VITE_ENC_ALG=
MAIN_VITE_DB_NAME=

# ON RENDERER FRONT END ONLY
# SPECIFY THE INTERVAL OF: REFETCHING; CACHING; STALE TIME IN MINUTES
RENDERER_VITE_CACHING=
